.multirange {
	display: contents;
	--_range-color: var(--range-color, hsl(190, 80%, 40%));
	--_track-background: var(--track-background, linear-gradient(to right,
		transparent var(--low-progress), var(--_range-color) 0,
		var(--_range-color) var(--high-progress), transparent 0
	) no-repeat 0 45% / 100% 40%);


	input[type="range"] {
		padding: 0;
		margin: 0;
		display: inline-block;
		vertical-align: top;

		&.copy {
			position: relative;
			background: var(--_track-background);

			&::-webkit-slider-runnable-track {
				background: var(--_track-background);
			}

			&::-moz-range-track {
				background: var(--_track-background);
			}
		}
	}

	input[type="range"]:not(.copy),
	::slotted(input[type="range"]) {
		position: absolute;

		&::-webkit-slider-thumb {
			position: relative;
			z-index: 2;
		}

		&::-moz-range-thumb {
			transform: scale(1); /* FF doesn't apply position it seems */
			z-index: 1;
		}

		&::-moz-range-track {
			border-color: transparent; /* needed to switch FF to "styleable" control */
		}
	}
}