<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Multirange</title>
	<link rel="icon" href="{{ page | relative }}/logo.svg">
	<link rel="dns-prefetch" href="https://nudeui.com">
	<link rel="stylesheet" href="{{ page | relative }}/assets/style.css" />

	<script src="{{ page | relative }}/assets/global.js" type="module"></script>
	<script src="{{ page | relative }}/multirange.js" type="module"></script>
	{{ includes | safe }}
</head>
<body>

<nav>
	<a href="#installation">Installation</a>
	<a href="https://github.com/LeaVerou/multirange/tree/main/{{ id }}">GitHub</a>
</nav>

{{ content | safe }}

</body>
</html>